.complete {
    text-decoration: line-through;
}

.buttonDelete {
    font: bold 0.6em sans-serif;
    background-color: red;
    color: white;
    border-radius: 8px;
    margin: 10px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
    gap: 20px;
}
